<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% listOfItems.forEach(element => { %>
            <div class="item">
               
                   
                    <%if (element.checked==true){%>
                        <input type="checkbox" checked>
                    <%}else{%>
                        <input type="checkbox" >
                    <% } %>
                    <p>
                       <%= element.text %>
                    
                    </p>
                
            </div>
            <% }); %>
                <form  method="POST" class="item">
                    <input type="hidden" name="idList" value="<%=idList %>">
                    <input type="text" name="newItem" placeholder="Add new item" autocomplete="off" required>
                    <button type="submit" name="listTitle" value="<%=listTitle %>"></button>
                </form>
    </div>
    <%- include('footer'); -%>